.post-body {
  display: flex;
  margin-top: 30px;
  justify-content: center;

  h1 {
    align-self: left;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.publication p {
  display: flex;
  justify-content: right;
  font-size: 20px;
  margin-top: 30px;
}

.blog-post {
  margin-top: 30px;
  align-items: flex-start;
  .blog-photo {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;

    img {
      width: 400px;
      height: auto;
    }
  }
}

.input-text {
  height: 1000px;
  width: 100%;
}

.btn-blog {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  background-color: #e26d5c;
  color: white;
  padding: 15px;
  margin: 7px;
  border-radius: 5px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
