.portfolio {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 50px;
  background-color: white;
  color: #333;
  border-top: #333 4px solid;
  border-bottom: #333 4px solid;
}

.git-image {
  display: flex;
}

.btn-github {
  display: inline-block;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-github:hover {
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
}

.git-title {
  font-size: 50px;
  font-weight: bold;
  color: #e26d5c;
  text-align: center;
  margin-top: 40px;
  height: 50px;
}

.github-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  padding: 30px;
}

.portfolio-background {
  background-color: #caf0f8;
  color: #03045e;
  text-align: center;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 20px;
  width: 500px;
  margin-left: 100px;
}

.portfolio-item h2 {
  font-size: 40px;
  font-weight: bold;
  color: #023e8a;
  margin-bottom: 20px;
}

/* Second Section */
.another-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 20px;
  width: 500px;
  margin-right: 100px;
}

.another-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #023e8a;
  margin-bottom: 20px;
}

.blue-button {
  text-align: center;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #007bff;
  background-color: #023e8a;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.blue-button:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: 768px) {
  .portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .git-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    height: 20px;
  }

  .git-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
  }

  .portfolio-item {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .github-info,
  .portfolio-item,
  .another-section {
    width: calc(100% - 40px);
    margin: 20px;
  }

  .another-section {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
}
