#banner {
  background: url("maple-leaves-changing-color.jpg") center/cover;
  padding: 150px 0;
  padding-left: 30px;
  box-shadow: 0 0 15px 10px #ffffff;
  height: 700px;
  text-align: center;
}

#banner .btn{
  box-shadow: 0 0 15px 10px #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}


.header-info {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 12px;
  text-align: left;
  margin-top: 70px;
  font-size: 32px;
  font-weight: bold;
  .writing {
    color: #494331;
  }
}
