<div class="navbar">
  <a class="navbar-name"><strong>Alexandra Leballeur</strong></a>
  <div class="navigate">
      <li class="nav-item">
        <%= link_to "About Me", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Portfolio", portfolio_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
