<%= render partial: 'navbar' %>

<div class="about">
<br>
<h1><strong>a bit about me...</strong></h1>
<br>
  <div class="information">
    <%= image_tag("profile.jpg", alt: "Profile Image", height: 500, width: 400, crop: :fill, class: "profilepic") %>
      <div class="description">
      <p><strong>Hi, I'm Alex. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet porttitor eget dolor morbi non arcu risus quis. Laoreet id donec ultrices tincidunt arcu non sodales. Est ullamcorper eget nulla facilisi etiam dignissim. Sit amet venenatis urna cursus eget nunc scelerisque. Ipsum dolor sit amet consectetur adipiscing. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Varius duis at consectetur lorem donec massa. Cras pulvinar mattis nunc sed blandit libero volutpat sed. Nibh praesent tristique magna sit amet purus gravida. Sed libero enim sed faucibus turpis in eu mi. Vulputate mi sit amet mauris commodo quis imperdiet massa. Faucibus purus in massa tempor nec feugiat nisl. Tristique senectus et netus et malesuada fames ac turpis egestas. Lobortis scelerisque fermentum dui faucibus in. Vestibulum morbi blandit cursus risus at ultrices. Lectus arcu bibendum at varius vel pharetra. Sed adipiscing diam donec adipiscing. Sed elementum tempus egestas sed sed risus pretium. A scelerisque purus semper eget duis.
        Nulla pharetra diam sit amet nisl. Fringilla urna porttitor rhoncus dolor purus non. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Elementum integer enim neque volutpat ac tincidunt vitae. Varius duis at consectetur lorem donec massa. Ut diam quam nulla porttitor massa id neque. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Odio ut enim blandit volutpat maecenas volutpat blandit. Duis ut diam quam nulla porttitor massa id neque. Viverra vitae congue eu consequat ac felis. Accumsan lacus vel facilisis volutpat est velit egestas dui id.
      </p>
      </div>
  </div>

  <div class="beliefs">
    <h1>What I Believe</h1>
      <div class="belief">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet porttitor eget dolor morbi non arcu risus quis. Laoreet id donec ultrices tincidunt arcu non sodales. Est ullamcorper eget nulla facilisi etiam dignissim. Sit amet venenatis urna cursus eget nunc scelerisque. Ipsum dolor sit amet consectetur adipiscing. Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Varius duis at consectetur lorem donec massa. Cras pulvinar mattis nunc sed blandit libero volutpat sed. Nibh praesent tristique magna sit amet purus gravida. Sed libero enim sed faucibus turpis in eu mi. Vulputate mi sit amet mauris commodo quis imperdiet massa. Faucibus purus in massa tempor nec feugiat nisl. Tristique senectus et netus et malesuada fames ac turpis egestas. Lobortis scelerisque fermentum dui faucibus in. Vestibulum morbi blandit cursus risus at ultrices. Lectus arcu bibendum at varius vel pharetra. Sed adipiscing diam donec adipiscing. Sed elementum tempus egestas sed sed risus pretium. A scelerisque purus semper eget duis.
          Nulla pharetra diam sit amet nisl. Fringilla urna porttitor rhoncus dolor purus non. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Elementum integer enim neque volutpat ac tincidunt vitae. Varius duis at consectetur lorem donec massa. Ut diam quam nulla porttitor massa id neque. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Odio ut enim blandit volutpat maecenas volutpat blandit. Duis ut diam quam nulla porttitor massa id neque. Viverra vitae congue eu consequat ac felis. Accumsan lacus vel facilisis volutpat est velit egestas dui id.
          Sed libero enim sed faucibus turpis. Grav
        </p>
      </div>
  </div>
</div>
