<%= render partial: 'navbar/navbar' %>
<div class="about">
  <div class="about-title">
    <h1><strong>
      <div data-controller="typing-animation" data-target="typing-animation.text">
        <%= "a bit about me..."%>
      </div>
    </strong></h1>
  </div>

  <br>
  <div class="information">
    <%= image_tag("profile.jpg", alt: "Profile Image", height: 500, width: 400, crop: :fill, class: "profilepic") %>
      <div class="description">
        <p><strong>Hi, I'm Alex. </strong>
          I'm a female web developer originally from Australia but currently calling France my home. With a diverse background, I hold degrees in both psychology and sociology, alongside my expertise in web development. This unique blend of knowledge allows me to approach projects with a well-rounded perspective, understanding both the technical aspects and the human dynamics involved.
          My journey into the world of coding began when I delved into the realm of accessibility in technology during my sociology degree. Witnessing the transformative power of inclusive design, I discovered a passion for coding as a means to create accessible and user-friendly digital experiences. This revelation sparked my pursuit of a career in web development, where I could leverage technology to bridge gaps and make the online world more inclusive, and two years after this I was the recipient of a diploma in Fullstack development.
          Outside the digital realm, I find joy in the tactile arts of knitting and the culinary creativity of cooking. These hobbies not only provide a balance to my screen-centric work but also reflect my appreciation for craftsmanship and attention to detail. Knitting allows me to unwind and create beautiful, tangible pieces, while cooking serves as a canvas for experimentation and the joy of sharing delicious meals with others.
          Beyond my personal interests, I'm deeply committed to promoting female-led businesses. Recognizing the importance of diversity and inclusivity in the tech industry, I actively support and advocate for women in entrepreneurship and technology. Through my work and passions, I aim to contribute to a world where diverse voices and talents are celebrated and empowered.
        </p>
      </div>
  </div>

  <div class="beliefs">
    <h1>My Focus</h1>
      <div class="belief">
        <p><strong>Aesthetics</strong>
          Recognizing the potency of a captivating design, I believe aesthetics play a pivotal role in the user experience. My endeavor is to fashion designs that are not only functional but also visually enticing, seamlessly marrying form and function for an aesthetically pleasing user interface.
        </p>
        <p><strong>Usability</strong>
          I am dedicated to the principle that technology should be instinctive and effortlessly navigable. My goal is to craft designs that prioritize user-friendliness, ensuring an intuitive journey through the site that allows users to concentrate on content and functionality.
        </p>
        <p><strong>Accessibility</strong>
          In my view, technology should be accessible to everyone, regardless of their abilities. I am committed to developing inclusive digital experiences that cater to all users, regardless of physical or cognitive capabilities, fostering an environment of equal access for everyone.
        </p>
        <p><strong>Functionality</strong>
          I advocate for technology that is purposeful and serves a distinct function. My focus is on creating designs that are not just visually appealing but also highly functional, ensuring users can seamlessly engage with the content and features of the site.
        </p>
      </div>
  </div>
</div>


<footer>
    &copy; 2024 Alexandra Leballeur
</footer>
