<%= render partial: 'navbar' %>
<h1>Contact</h1>
    <div id="contact">
        <h2>Contact</h2>
        <p>Reach out to me for collaboration and design projects. I'm available for freelance work.</p>
        <p>Email: your.email@example.com</p>
        <p>Phone: (555) 123-4567</p>
    </div>
