<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="application.css">
  <title>Alexandra Leballeur, Web Design</title>
</head>

<body>

<div id="banner">
  <div class="header-info">
    <div class="writing">
      <h1>Alexandra Leballeur <br>Website Development and Design</h1>
      <div data-controller="typing-animation" data-typing-animation-target="text">
        <%= "Take your online presence to the next level"%>
      </div>
    </div>
  </div>
<%= link_to "See more about me", about_path, class: "btn" %>
</div>

</body>

<footer id="home-footer">
    &copy; 2024 Alexandra Leballeur
</footer>

</html>
