<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Your Page Title</title>
</head>

<body>
  <div id="banner">
    <div class="header-info">
      <div class="writing">
        <h1>Alexandra Leballeur <br>Website Development and Design</h1>
        <p>Take your online presence to the next level with a beautiful and reactive site</p>
      </div>
    </div>
    <%= link_to "See more about me", about_path, class: "btn" %>
  </div>

  <footer>
      &copy; 2024 Alexandra Leballeur
  </footer>
</body>
</html>
