<%= render partial: 'navbar/navbar' %>
<div class="container">
<h1 class="git-title">My previous works</h1>
  <div class="portfolio">
    <div class="github-info">
      <h2>My GitHub</h2>
      <p>Explore my GitHub profile for a collection of diverse repositories:</p>
      <p><a href="https://github.com/AlexLeball" target="_blank">https://github.com/AlexLeball</a></p>
      <p>Discover a variety of projects spanning coding exercises, personal projects, and contributions to open source.</p>
    </div>

    <div class="portfolio-item">
      <h2>NFTandB - Airbnb Clone</h2>
      <p>Experience a unique twist on the traditional Airbnb platform with NFTandB:</p>
      <p><a href="https://airbnb-amedeo1997-145b8e1565bd.herokuapp.com/" target="_blank">https://airbnb-amedeo1997-145b8e1565bd.herokuapp.com/</a></p>
      <p>This project is an Airbnb clone tailored for buying and selling NFTs, blending the familiarity of an Airbnb style interface with the exciting world of non-fungible tokens.</p>
    </div>

    <div class="portfolio-item">
      <h2>AMIGOES - Social Media</h2>
      <p>Experience a unique social platform designed for retirees with Amigoes (mobile app only):</p>
      <p><a href="https://amigoes-66dfd68e1e8b.herokuapp.com/" target="_blank">https://amigoes-66dfd68e1e8b.herokuapp.com/</a></p>
      <p>Although the project is now closed, Amigoes aimed to provide a tailored social media experience for retirees, fostering connections and shared experiences in their post-work adventures.</p>
    </div>

    <!-- Add more portfolio items as needed -->
  </div>
</div>
